<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${packageName}.dao.${table.tableClassName}Mapper">

    <select id="get${table.tableClassName}" resultType="${packageName}.entity.${table.tableClassName}">

    </select>

    <select id="count${table.tableClassName}" resultType="int">

    </select>
    <select id="list${table.tableClassName}" resultType="${packageName}.entity.${table.tableClassName}">

    </select>

    <insert id="add${table.tableClassName}">

    </insert>

    <insert id="add${table.tableClassName}Batch">

    </insert>
    <delete id="delete${table.tableClassName}">

    </delete>

    <update id="update${table.tableClassName}">

    </update>
</mapper>